name: Terraform Plan

on:
  pull_request:
    branches: [ main ]

jobs:
  tf-backend:
    uses: ./.github/workflows/reusable-terraform.yml
    with:
      working-directory: global/tf-backend
      backend-key: infra/tf-backend/terraform.tfstate
      var-file: variables.tf
    secrets:
      ROLE_ARN: arn:aws:iam::<ACC_ID>:role/oc-infra-deployer
      AWS_REGION: us-east-1

  iam:
    needs: tf-backend
    uses: ./.github/workflows/reusable-terraform.yml
    with:
      working-directory: global/iam
      backend-key: infra/iam/terraform.tfstate
      var-file: terraform.tfvars
    secrets:
      ROLE_ARN: arn:aws:iam::<ACC_ID>:role/oc-infra-deployer
      AWS_REGION: us-east-1

  artifacts:
    needs: iam
    uses: ./.github/workflows/reusable-terraform.yml
    with:
      working-directory: global/artifacts
      backend-key: infra/artifacts/terraform.tfstate
      var-file: producers_consumers.tfvars
    secrets:
      ROLE_ARN: arn:aws:iam::<ACC_ID>:role/oc-infra-deployer
      AWS_REGION: us-east-1
