name: Terraform Plan

on:
  pull_request:
    branches: [ main ]

jobs:
  global:
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/reusable-terraform.yml
    with:
      working-directory: global
      backend-key: infra/terraform.tfstate
      var-file: terraform.tfvars
    secrets:
      ROLE_ARN: ${{ secrets.OC_INFRA_DEPLOYER_ROLE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
